body {
    background-color: brown;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}
#navbar {
    background-color: green;
    display: flex;
    flex-direction: row;
}
.navbar-item-container {
    display: inline;
}
#bottom-bar {
    background-color: gray;
    display: flex;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}
.right-list {
    margin-left: auto;
}
.container-item
{
    color: blueviolet;
    display: block;
    padding: 8px;
}
#central-container {
    background-color: rgb(19, 175, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}