body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
#navbar {
    display: flex;
    flex-direction: row;
    font-size: 13px;
}
.navbar-item-container {
    display: inline;
}
#bottom-bar {
    display: flex;
    background-color: rgb(242, 242, 242);
    border-top: 1px solid #e4e4e4;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}
.right-list {
    margin-left: auto;
}
.container-item {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}
#bottom-bar .container-item {
    opacity: 85%;
}

.container-item:hover {
    text-decoration: underline;
    color: black;
    opacity: 85%;
}
#navbar .container-item:hover {
    color: rgb(95, 99, 104);
}
#central-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.central-item {
    margin: 10px auto;
}
.input-button {
    color: blue;
}